doctype html
html
    head
        title React
        link(href='//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css', media='all', rel='stylesheet', type='text/css')
        script(type='text/javascript', src='/assets/vendors.js')

        block head

    body
        block body
